/* reset default */
body, p, h1, h2, h3, h4, h5, h6, div, ul, li, ol, dl, dd, dt,
nav, main, title, aside, footer, section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, li {
  list-style: none;
}

/* 浮动 */
.clear {
  zoom: 1;
}
.clear:after {
  content: '';
  clear: both;
  display: table;
}
.fl {
  float:left;
}
.fr {
  float: right;
}

/* 溢出省略号 */
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Chrome滚动条 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 6px;
  background: #bbb;
  background-clip: padding-box;
}